## 大乐透_移动100期出击次数统计2022-04-23
## 2022-06-10更新

In [1]:
# 取当前日期和时间
import time
date = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
print(date)

2022-06-10 20:25:33

In [2]:
# 导入模块
import pandas as pd
import numpy as np

In [3]:
# 导入排列组合计算函数
#调用scipy科学计算包中计算排列组合（permutation and combination）的模块
from scipy.special import perm, comb
#调用 itertools库（内置库） 获取排列组合的全部情况数
from itertools import permutations, combinations

In [4]:
path = '大乐透总历史开奖号码表.xlsx'
df = pd.read_excel(path)
print(df.shape)
df.head()

(4015, 17)

,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,22064,2022-06-08,2,19,22,25,35,5,7,103,21,12,6,2,2022,64,6
1,22063,2022-06-06,2,3,22,26,31,6,10,84,17,16,8,3,2022,63,6
2,22062,2022-06-04,5,9,11,12,31,7,11,68,14,18,9,1,2022,62,6
3,22061,2022-06-01,6,9,19,22,30,1,6,86,17,7,4,3,2022,61,6
4,22060,2022-05-30,2,6,10,11,20,3,9,49,10,12,6,4,2022,60,5

In [49]:
# 蓝球-单个
df1 = df[:100]
df2 = df1.iloc[:,7:9]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
    #print(df2.loc[i])
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
dm = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<13:
        dd2.append(i)
    elif a>=13 and a<15:
        dd3.append(i)
    elif a>=15 and a<18:
        dd4.append(i)
    elif a>=18 and a<23:
        dd5.append(i)
    elif a>=23:
        dd6.append(i)
    a = 0

dm = dd5+dd6    
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)

dm100 = []
for i in dm:
    dm100.append(i[0])
dm100 = list(np.sort(dm100))
print('dm100=', len(dm100), dm100)

2 2 4 2 2
[(2,), (3,)]
--------------------------------------------------------------------------------------------------------------
[(8,), (4,)]
--------------------------------------------------------------------------------
[(1,), (10,), (11,), (12,)]
--------------------------------------------------------------------------------
[(6,), (7,)]
--------------------------------------------------------------------------------
[(9,), (5,)]
--------------------------------------------------------------------------------
dm100= 4 [5, 6, 7, 9]

In [50]:
# 篮球-单个
df1 = df[:25]
df2 = df1.iloc[:,7:9]
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<2:
        dd2.append(i)
    elif a>=2 and a<3:
        dd3.append(i)
    elif a>=3 and a<6:
        dd4.append(i)
    elif a>=6 and a<13:
        dd5.append(i)
    elif a>=13:
        dd6.append(i)
    if a>=13:
        dm.append(i)         
    a = 0
    
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)


# dd7 = dd4+dd3
# dd7a = []
# for i in dd7:
#     dd7a.append(i[0])
# dd7b = list(np.sort(dd7a))
# print(len(dd7b), dd7b)

dm25 = []
for i in (dd4+dd5+dd6):
    dm25.append(i[0])
dm25 = list(np.sort(dm25))
print('dm25=', len(dm25), dm25)

1 1 7 3 0
[(2,)]
--------------------------------------------------------------------------------------------------------------
[(12,)]
--------------------------------------------------------------------------------
[(1,), (8,), (3,), (4,), (10,), (5,), (11,)]
--------------------------------------------------------------------------------
[(9,), (6,), (7,)]
--------------------------------------------------------------------------------
[]
--------------------------------------------------------------------------------
dm25= 10 [1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [51]:
# 找出dm100与dm25的交集dm
dm = []
for i in dm25:
    if i in dm100:
        dm.append(i)
print(len(dm), dm)

df2h = df1.iloc[:,7:9]

dela = []
q =4
for i in range(q):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela.append(ii)
print('dm列表中近',q,'期中出现过的蓝球:', dela) 
dmb = []
for i in dm:
    if i not in dela:
        dmb.append(i)

print('dm列表中推荐蓝球:', dmb)

4 [5, 6, 7, 9]
dm列表中近 4 期中出现过的蓝球: [5, 7, 6, 7, 6]
dm列表中推荐蓝球: [9]

In [38]:
# 红球-单个
df1 = df[:100]
df2 = df1.iloc[:,2:7]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<10:
        dd2.append(i)
    elif a>=10 and a<13:
        dd3.append(i)
    elif a>=13 and a<15:
        dd4.append(i)
    elif a>=15 and a<17:
        dd5.append(i)
    elif a>=17:
        dd6.append(i)       
    a = 0

dm = dd6 
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)
print("dm=", dm)
print('-'*80)


dxa = []        
for i in dm:
    dxa.append(i[0])
dxb = list(np.sort(dxa))
print(len(dxb), dxb)

4 6 11 5 9
[(32,), (13,), (24,), (6,)]
--------------------------------------------------------------------------------------------------------------
[(21,), (23,), (15,), (3,), (22,), (27,)]
--------------------------------------------------------------------------------
[(9,), (26,), (28,), (30,), (5,), (7,), (20,), (33,), (10,), (12,), (14,)]
--------------------------------------------------------------------------------
[(34,), (8,), (25,), (4,), (31,)]
--------------------------------------------------------------------------------
[(11,), (1,), (16,), (18,), (35,), (2,), (29,), (17,), (19,)]
--------------------------------------------------------------------------------
dm= [(11,), (1,), (16,), (18,), (35,), (2,), (29,), (17,), (19,)]
--------------------------------------------------------------------------------
9 [1, 2, 11, 16, 17, 18, 19, 29, 35]

In [39]:
# 红球-单个
df1 = df[:25]
df2 = df1.iloc[:,2:7] 
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<3:
        dd2.append(i)
    elif a==3:
        dd3.append(i)
    elif a==4:
        dd4.append(i)
    elif a==5:
        dd5.append(i)
    elif a>=6:
        dd6.append(i)       
    a = 0
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)

dd7 = dd4+dd5+dd6
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print(len(dd7b), dd7b)

7 11 5 8 3
[(23,), (34,), (13,), (28,), (8,), (27,), (4,)]
--------------------------------------------------------------------------------------------------------------
[(21,), (32,), (9,), (24,), (26,), (3,), (30,), (5,), (7,), (18,), (31,)]
--------------------------------------------------------------------------------
[(15,), (1,), (33,), (25,), (29,)]
--------------------------------------------------------------------------------
[(11,), (16,), (20,), (22,), (35,), (6,), (17,), (19,)]
--------------------------------------------------------------------------------
[(10,), (12,), (2,)]
--------------------------------------------------------------------------------
16 [1, 2, 6, 10, 11, 12, 15, 16, 17, 19, 20, 22, 25, 29, 33, 35]

In [46]:
# 找出dxb与dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print(len(dm), dm)

df2h = df1.iloc[:,2:7]

dela = []
q =3
for i in range(q):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela.append(ii)
print('dm列表中近',q,'期中出现过的红球:', set(dela))
dmb = []
for i in dm:
    if i not in dela:
        dmb.append(i)

print('dm列表中推荐红球:', dmb)

8 [1, 2, 11, 16, 17, 19, 29, 35]
dm列表中近 3 期中出现过的红球: {11, 35, 2, 19}
dm列表中推荐红球: [1, 16, 17, 29]

In [11]:
df2h.head(8)

   H1  H2  H3  H4  H5
0   2  19  22  25  35
1   2   3  22  26  31
2   5   9  11  12  31
3   6   9  19  22  30
4   2   6  10  11  20
5   4  15  18  32  34
6   3   4  24  26  35
7   6  12  18  21  35

# ======================================================================================

## 画图

In [12]:
# # 导入需要的函数
# from bokeh.plotting import figure, output_notebook, show
# import seaborn as sns
# from matplotlib import pyplot as plt

In [13]:
# # 循环遍历ce中各球画出每13期移动出击次数线
# for i in range(len(ce)):
#     # 计算x/y的数据
#     y = df2b[df2b.球号==ce[i]].次数
#     x = df2b[df2b.球号==ce[i]].期号
#     # 创建画布 p，设置 x_axis_type='datetime'
#     plt.figure(figsize=(20,6),dpi=600)
#     plt.figure()
#     print(str(ce[i])+'号球每13期移动出击次数线')
#     plt.plot(x, y)
#     plt.title=str(ce[i])+'号球每13期移动出击次数线'
#     plt.show()

dm列表中近 3 期中出现过的红球: {11, 35, 2, 19}

dm列表中推荐红球: [1, 16, 17, 29]

dm列表中近 4 期中出现过的蓝球: [7, 6, 7, 6]

dm列表中推荐蓝球: [9]+[5]

In [14]:
# 取当前日期和时间
date1 = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
date1

'2022-06-10 20:25:34'

In [15]:
print('所用时间：', int(date1[-2:])-int(date[-2:]))

所用时间： 1