## 大乐透_移动100期出击次数统计2022-04-23

In [1]:
# 取当前日期和时间
import time
date = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
print(date)

2022-04-24 00:24:10

In [2]:
# 导入模块
import pandas as pd
import numpy as np

In [3]:
# 导入排列组合计算函数
#调用scipy科学计算包中计算排列组合（permutation and combination）的模块
from scipy.special import perm, comb
#调用 itertools库（内置库） 获取排列组合的全部情况数
from itertools import permutations, combinations

In [34]:
path = '大乐透总历史开奖号码表.xlsx'
df = pd.read_excel(path)
print(df.shape)
df.head()

(3995, 17)

,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,22044,2022-04-23,1,2,16,17,20,3,7,56,11,10,5,3,2022,44,4
1,22043,2022-04-20,2,16,17,24,30,9,12,89,18,21,11,4,2022,43,4
2,22042,2022-04-18,8,10,11,29,32,2,6,90,18,8,4,3,2022,42,4
3,22041,2022-04-16,5,15,25,26,33,6,11,104,21,17,9,1,2022,41,4
4,22040,2022-04-13,10,19,25,29,33,8,12,116,23,20,10,1,2022,40,4

In [119]:
# 蓝球-单个
df1 = df[:100]
df2 = df1.iloc[:,7:9]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
    #print(df2.loc[i])
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
dm = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<13:
        dd2.append(i)
    elif a>=13 and a<15:
        dd3.append(i)
    elif a>=15 and a<18:
        dd4.append(i)
    elif a>=18 and a<23:
        dd5.append(i)
    elif a>=23:
        dd6.append(i)
    a = 0

dm = dd5+dd6    
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)
print("dm=", dm)
print('-'*80)

dxa = []
for i in dm:
    dxa.append(i[0])
dxb = np.sort(dxa)
print(len(dxb), dxb)

2 4 1 3 2
[(10,), (3,)]
--------------------------------------------------------------------------------------------------------------
[(2,), (8,), (4,), (1,)]
--------------------------------------------------------------------------------
[(7,)]
--------------------------------------------------------------------------------
[(6,), (12,), (5,)]
--------------------------------------------------------------------------------
[(11,), (9,)]
--------------------------------------------------------------------------------
dm= [(6,), (12,), (5,), (11,), (9,)]
--------------------------------------------------------------------------------
5 [ 5  6  9 11 12]

In [120]:
# 篮球-单个
df1 = df[:25]
df2 = df1.iloc[:,7:9]
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<2:
        dd2.append(i)
    elif a>=2 and a<3:
        dd3.append(i)
    elif a>=3 and a<6:
        dd4.append(i)
    elif a>=6 and a<13:
        dd5.append(i)
    elif a>=13:
        dd6.append(i)
    if a>=13:
        dm.append(i)         
    a = 0
    
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)

dd7 = dd4+dd3
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print(len(dd7b), dd7b)

1 2 6 3 0
[(2,)]
--------------------------------------------------------------------------------------------------------------
[(4,), (3,)]
--------------------------------------------------------------------------------
[(5,), (11,), (8,), (1,), (10,), (9,)]
--------------------------------------------------------------------------------
[(6,), (12,), (7,)]
--------------------------------------------------------------------------------
[]
--------------------------------------------------------------------------------
8 [1, 3, 4, 5, 8, 9, 10, 11]

In [122]:
# 找出dxb与dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print(len(dm), dm)

df2h = df1.iloc[:,8:10]

dela = []
q =4
for i in range(q):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela.append(ii)
print('dm列表中近',q,'期中出现过的蓝球:', dela) 
dmb = []
for i in dm:
    if i not in dela:
        dmb.append(i)

print('dm列表中推荐蓝球:', dmb)

3 [5, 9, 11]
dm列表中近 4 期中出现过的蓝球: [11]
dm列表中推荐蓝球: [5, 9]

In [123]:
# 红球-单个
df1 = df[:100]
df2 = df1.iloc[:,2:7]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<10:
        dd2.append(i)
    elif a>=10 and a<13:
        dd3.append(i)
    elif a>=13 and a<15:
        dd4.append(i)
    elif a>=15 and a<17:
        dd5.append(i)
    elif a>=17:
        dd6.append(i)       
    a = 0

dm = dd6 
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)
print("dm=", dm)
print('-'*80)


dxa = []        
for i in dm:
    dxa.append(i[0])
dxb = list(np.sort(dxa))
print(len(dxb), dxb)

5 5 7 8 10
[(22,), (3,), (6,), (12,), (24,)]
--------------------------------------------------------------------------------------------------------------
[(32,), (13,), (9,), (15,), (21,)]
--------------------------------------------------------------------------------
[(5,), (23,), (20,), (35,), (10,), (27,), (33,)]
--------------------------------------------------------------------------------
[(14,), (26,), (4,), (1,), (16,), (28,), (31,), (34,)]
--------------------------------------------------------------------------------
[(2,), (11,), (8,), (17,), (29,), (7,), (19,), (25,), (18,), (30,)]
--------------------------------------------------------------------------------
dm= [(2,), (11,), (8,), (17,), (29,), (7,), (19,), (25,), (18,), (30,)]
--------------------------------------------------------------------------------
10 [2, 7, 8, 11, 17, 18, 19, 25, 29, 30]

In [124]:
# 红球-单个
df1 = df[:25]
df2 = df1.iloc[:,2:7] 
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<3:
        dd2.append(i)
    elif a==3:
        dd3.append(i)
    elif a==4:
        dd4.append(i)
    elif a==5:
        dd5.append(i)
    elif a>=6:
        dd6.append(i)       
    a = 0
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)

dd7 = dd4+dd5+dd6
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print(len(dd7b), dd7b)

8 9 11 4 3
[(23,), (13,), (34,), (3,), (6,), (12,), (21,), (27,)]
--------------------------------------------------------------------------------------------------------------
[(26,), (29,), (32,), (4,), (19,), (25,), (22,), (24,), (33,)]
--------------------------------------------------------------------------------
[(2,), (5,), (8,), (20,), (35,), (7,), (10,), (28,), (18,), (15,), (30,)]
--------------------------------------------------------------------------------
[(14,), (1,), (31,), (9,)]
--------------------------------------------------------------------------------
[(11,), (17,), (16,)]
--------------------------------------------------------------------------------
18 [1, 2, 5, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 20, 28, 30, 31, 35]

In [125]:
# 找出dxb与dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print(len(dm), dm)

df2h = df1.iloc[:,2:7]

dela = []
q =2
for i in range(q):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela.append(ii)
print('dm列表中近',q,'期中出现过的红球:', dela) 
dmb = []
for i in dm:
    if i not in dela:
        dmb.append(i)

print('dm列表中推荐红球:', dmb)

7 [2, 7, 8, 11, 17, 18, 30]
dm列表中近 2 期中出现过的红球: [2, 17, 2, 17, 30]
dm列表中推荐红球: [7, 8, 11, 18]

In [116]:
df2h.head(8)

   H1  H2  H3  H4  H5
0   1   2  16  17  20
1   2  16  17  24  30
2   8  10  11  29  32
3   5  15  25  26  33
4  10  19  25  29  33
5   1   8  11  22  31
6   7   9  11  12  26
7   1   9  17  20  28

# ======================================================================================

## 画图

In [17]:
# # 导入需要的函数
# from bokeh.plotting import figure, output_notebook, show
# import seaborn as sns
# from matplotlib import pyplot as plt

In [18]:
# # 循环遍历ce中各球画出每13期移动出击次数线
# for i in range(len(ce)):
#     # 计算x/y的数据
#     y = df2b[df2b.球号==ce[i]].次数
#     x = df2b[df2b.球号==ce[i]].期号
#     # 创建画布 p，设置 x_axis_type='datetime'
#     plt.figure(figsize=(20,6),dpi=600)
#     plt.figure()
#     print(str(ce[i])+'号球每13期移动出击次数线')
#     plt.plot(x, y)
#     plt.title=str(ce[i])+'号球每13期移动出击次数线'
#     plt.show()

In [99]:
# 取当前日期和时间
date1 = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
date1

'2022-04-24 03:00:28'

In [100]:
print('所用时间：', int(date1[-2:])-int(date[-2:]))

所用时间： 18

## dm列表中推荐红球: [7, 8, 11, 18]
## dm列表中推荐蓝球: [5, 9]