## 大乐透_取100期及25期开奖号中的2球组合，计算出击次数最大的组合2022-04-14

In [1]:
# 取当前日期和时间
import time
date = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
print(date)

2022-04-19 18:39:15

In [2]:
# 导入模块
import pandas as pd
import numpy as np

In [3]:
# 导入排列组合计算函数
#调用scipy科学计算包中计算排列组合（permutation and combination）的模块
from scipy.special import perm, comb
#调用 itertools库（内置库） 获取排列组合的全部情况数
from itertools import permutations, combinations

In [4]:
path = '大乐透最近100期开奖号码.xlsx'
df = pd.read_excel(path)
df.head()

,Unnamed: 0,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,0,22042,2022-04-18,8,10,11,29,32,2,6,90,18,8,4,3,2022,42,4
1,1,22041,2022-04-16,5,15,25,26,33,6,11,104,21,17,9,1,2022,41,4
2,2,22040,2022-04-13,10,19,25,29,33,8,12,116,23,20,10,1,2022,40,4
3,3,22039,2022-04-11,1,8,11,22,31,5,11,73,15,16,8,2,2022,39,4
4,4,22038,2022-04-09,7,9,11,12,26,9,12,65,13,21,11,2,2022,38,4

In [5]:
# 红球
df1 = df[:100]
df2 = df1.iloc[:,3:8]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),2))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a==4:
        dd2.append(i)
    elif a==5:
        dd3.append(i)
    elif a==6:
        dd4.append(i)
    elif a==7:
        dd5.append(i)
    elif a>=8:
        dd6.append(i)       
    a = 0
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4, dd5, dd6)

39 14 7 0 0
[(20, 25), (23, 26), (15, 30), (11, 22), (11, 26), (19, 27), (5, 20), (20, 28), (2, 30), (13, 18), (9, 17), (2, 16), (22, 35), (14, 17), (5, 18), (20, 30), (16, 35), (17, 34), (2, 8), (8, 11), (14, 18), (18, 25), (4, 31), (3, 5), (5, 33), (2, 19), (2, 13), (25, 35), (18, 23), (14, 27), (4, 25), (16, 34), (1, 12), (13, 34), (10, 25), (7, 20), (8, 16), (2, 14), (17, 19)]
--------------------------------------------------------------------------------------------------------------
[(15, 19), (4, 7), (19, 29), (17, 28), (4, 29), (11, 23), (5, 25), (27, 28), (17, 18), (27, 33), (14, 28), (13, 19), (8, 19), (26, 33)]
--------------------------------------------------------------------------------
[(18, 34), (2, 34), (8, 29), (7, 17), (1, 17), (11, 31), (1, 2)] [] []

In [6]:
# 篮球
df1 = df[:100]
df2 = df1.iloc[:,8:10]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),2))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a==4:
        dd2.append(i)
    elif a==5:
        dd3.append(i)
    elif a==6:
        dd4.append(i)
    elif a==7:
        dd5.append(i)
    elif a>=8:
        dd6.append(i)       
    a = 0
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4, dd5, dd6)

5 1 1 0 0
[(5, 6), (8, 9), (6, 7), (5, 11), (11, 12)]
--------------------------------------------------------------------------------------------------------------
[(3, 11)]
--------------------------------------------------------------------------------
[(5, 12)] [] []

In [7]:
# 红球
df1 = df[:25]
df2 = df1.iloc[:,3:8]
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),2))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a==2:
        dd2.append(i)
    elif a==3:
        dd3.append(i)
    elif a==4:
        dd4.append(i)
    elif a>=5:
        dd5.append(i)       
    a = 0
print(len(dd2),len(dd3),len(dd4),len(dd5))
print(dd2)
print('-'*110)
print(dd3, dd4, dd5)

32 3 0 0
[(14, 17), (1, 11), (21, 34), (5, 18), (11, 22), (1, 28), (15, 33), (25, 33), (10, 29), (15, 16), (11, 35), (19, 33), (14, 28), (4, 17), (20, 28), (7, 17), (16, 17), (17, 28), (8, 10), (9, 11), (7, 14), (4, 7), (11, 23), (31, 32), (5, 25), (9, 17), (8, 11), (9, 31), (16, 31), (30, 35), (11, 32), (17, 35)]
--------------------------------------------------------------------------------------------------------------
[(1, 17), (16, 35), (11, 31)] [] []

In [8]:
# 篮球
df1 = df[:25]
df2 = df1.iloc[:,8:10]
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),2))
dd1 = set(dd)

dd0 = []
dd2 = []
dd3 = []
dd4 = []
dd5 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a==1:
        dd0.append(i)        
    if a==2:
        dd2.append(i)
    elif a==3:
        dd3.append(i)
    elif a==4:
        dd4.append(i)
    elif a>=5:
        dd5.append(i)       
    a = 0
print(len(dd0),len(dd2),len(dd3),len(dd4),len(dd5))
print(dd1)
print('-'*110)
print(dd2)
print('-'*80)
print(dd3, dd4, dd5)

18 2 1 0 0
{(6, 9), (4, 8), (8, 9), (5, 8), (1, 2), (6, 7), (5, 12), (6, 10), (10, 12), (8, 10), (1, 5), (2, 6), (5, 11), (6, 11), (1, 9), (11, 12), (1, 12), (8, 12), (1, 7), (3, 4), (9, 12)}
--------------------------------------------------------------------------------------------------------------
[(6, 9), (1, 7)]
--------------------------------------------------------------------------------
[(6, 7)] [] []

In [9]:
# 篮球-单个
df1 = df[:25]
df2 = df1.iloc[:,8:10]
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a==4:
        dd2.append(i)
    elif a==5:
        dd3.append(i)
    elif a==6:
        dd4.append(i)
    elif a==7:
        dd5.append(i)
    elif a>=8:
        dd6.append(i)       
    a = 0
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)

dd7 = dd2+dd3+dd4+dd5+dd6
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print(len(dd7b), dd7b)

1 3 2 0 1
[(5,)]
--------------------------------------------------------------------------------------------------------------
[(8,), (9,), (7,)]
--------------------------------------------------------------------------------
[(1,), (12,)]
--------------------------------------------------------------------------------
[]
--------------------------------------------------------------------------------
[(6,)]
--------------------------------------------------------------------------------
7 [1, 5, 6, 7, 8, 9, 12]

In [10]:
# 蓝球-单个
df1 = df[:100]
df2 = df1.iloc[:,8:10]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
dm = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<13:
        dd2.append(i)
    elif a>=13 and a<16:
        dd3.append(i)
    elif a>=16 and a<18:
        dd4.append(i)
    elif a>=18 and a<20:
        dd5.append(i)
    elif a>=20:
        dd6.append(i)
    if a>=13:
        dm.append(i)         
    a = 0

    
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)
print("dm=", dm)
print('-'*80)

dxa = []
for i in dm:
    dxa.append(i[0])
dxb = np.sort(dxa)
print(len(dxb), dxb)

2 4 1 1 4
[(3,), (10,)]
--------------------------------------------------------------------------------------------------------------
[(1,), (2,), (8,), (4,)]
--------------------------------------------------------------------------------
[(7,)]
--------------------------------------------------------------------------------
[(12,)]
--------------------------------------------------------------------------------
[(9,), (5,), (11,), (6,)]
--------------------------------------------------------------------------------
dm= [(1,), (2,), (8,), (9,), (4,), (5,), (11,), (6,), (12,), (7,)]
--------------------------------------------------------------------------------
10 [ 1  2  4  5  6  7  8  9 11 12]

In [11]:
# 找出dxb与dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print(len(dm), dm)

df2h = df1.iloc[:,8:10]

dela = []
q =4
for i in range(q):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela.append(ii)
print('dm列表中近',q,'期中出现过的蓝球:', dela) 
dmb = []
for i in dm:
    if i not in dela:
        dmb.append(i)

print('dm列表中推荐蓝球:', dmb)

7 [1, 5, 6, 7, 8, 9, 12]
dm列表中近 4 期中出现过的蓝球: [6, 6, 8, 12, 5]
dm列表中推荐蓝球: [1, 7, 9]

In [12]:
df2 = df1.iloc[:,8:10]
df2.head(8)

   L1  L2
0   2   6
1   6  11
2   8  12
3   5  11
4   9  12
5   6  10
6   6   7
7   5   8

In [13]:
# 红球-单个
df1 = df[:25]
df2 = df1.iloc[:,3:8]
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a==4:
        dd2.append(i)
    elif a==5:
        dd3.append(i)
    elif a==6:
        dd4.append(i)
    elif a==7:
        dd5.append(i)
    elif a>=8:
        dd6.append(i)       
    a = 0
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)

dd7 = dd2+dd3+dd4+dd5+dd6
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print(len(dd7b), dd7b)

10 4 3 0 1
[(21,), (15,), (28,), (5,), (18,), (8,), (35,), (10,), (29,), (4,)]
--------------------------------------------------------------------------------------------------------------
[(9,), (1,), (7,), (14,)]
--------------------------------------------------------------------------------
[(16,), (31,), (17,)]
--------------------------------------------------------------------------------
[]
--------------------------------------------------------------------------------
[(11,)]
--------------------------------------------------------------------------------
18 [1, 4, 5, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 21, 28, 29, 31, 35]

In [14]:
# 红球-单个
df1 = df[:100]
df2 = df1.iloc[:,3:8]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=12 and a<14:
        dd2.append(i)
    elif a>=14 and a<16:
        dd3.append(i)
    elif a>=16 and a<18:
        dd4.append(i)
    elif a>=18 and a<20:
        dd5.append(i)
    elif a>=20:
        dd6.append(i)       
    a = 0
print(len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print(dd2)
print('-'*110)
print(dd3)
print('-'*80)
print(dd4)
print('-'*80)
print(dd5)
print('-'*80)
print(dd6)
print('-'*80)
dx = []
max1 = 0
a = 0
b = 0
for m in [dd2,dd3,dd4,dd5,dd6]:
    dx.append(m)
    if max1<len(m):
        max1 = len(m)
        b = a
    a = a+1

dxa = []        
for i in dx[b]:
    dxa.append(i[0])
dxb = list(np.sort(dxa))
print(len(dxb), dxb)

5 8 7 6 1
[(23,), (9,), (13,), (16,), (20,)]
--------------------------------------------------------------------------------------------------------------
[(34,), (1,), (5,), (33,), (35,), (10,), (14,), (4,)]
--------------------------------------------------------------------------------
[(26,), (28,), (30,), (7,), (27,), (29,), (31,)]
--------------------------------------------------------------------------------
[(11,), (18,), (8,), (25,), (2,), (19,)]
--------------------------------------------------------------------------------
[(17,)]
--------------------------------------------------------------------------------
8 [1, 4, 5, 10, 14, 33, 34, 35]

In [15]:
# 找出dxb与dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print(len(dm), dm)

df2h = df1.iloc[:,3:8]

dela = []
q =2
for i in range(q):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela.append(ii)
print('dm列表中近',q,'期中出现过的红球:', dela) 
dmb = []
for i in dm:
    if i not in dela:
        dmb.append(i)

print('dm列表中推荐红球:', dmb)

6 [1, 4, 5, 10, 14, 35]
dm列表中近 2 期中出现过的红球: [10, 5]
dm列表中推荐红球: [1, 4, 14, 35]

In [16]:
df2h.head(8)

   H1  H2  H3  H4  H5
0   8  10  11  29  32
1   5  15  25  26  33
2  10  19  25  29  33
3   1   8  11  22  31
4   7   9  11  12  26
5   1   9  17  20  28
6  18  19  21  26  34
7   9  11  13  23  31

# ======================================================================================

## 画图

In [17]:
# # 导入需要的函数
# from bokeh.plotting import figure, output_notebook, show
# import seaborn as sns
# from matplotlib import pyplot as plt

In [18]:
# # 循环遍历ce中各球画出每13期移动出击次数线
# for i in range(len(ce)):
#     # 计算x/y的数据
#     y = df2b[df2b.球号==ce[i]].次数
#     x = df2b[df2b.球号==ce[i]].期号
#     # 创建画布 p，设置 x_axis_type='datetime'
#     plt.figure(figsize=(20,6),dpi=600)
#     plt.figure()
#     print(str(ce[i])+'号球每13期移动出击次数线')
#     plt.plot(x, y)
#     plt.title=str(ce[i])+'号球每13期移动出击次数线'
#     plt.show()

In [19]:
# 取当前日期和时间
date1 = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
date1

'2022-04-19 18:39:16'

In [20]:
print('所用时间：', int(date1[-2:])-int(date[-2:]))

所用时间： 1

## dm列表中推荐红球: [4, 7, 14, 28]
## dm列表中推荐蓝球: [1, 7]