## 大乐透_移动100期出击次数统计2022-05-16

In [1]:
# 取当前日期和时间
import time
date = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
print(date)

2022-07-12 17:52:14

In [2]:
# 导入模块
import pandas as pd
import numpy as np

In [3]:
# 导入排列组合计算函数
#调用scipy科学计算包中计算排列组合（permutation and combination）的模块
from scipy.special import perm, comb
#调用 itertools库（内置库） 获取排列组合的全部情况数
from itertools import permutations, combinations

In [4]:
path = '大乐透总历史开奖号码表.xlsx'
df = pd.read_excel(path)
print(df.shape)
df.head()

(4029, 17)

,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,22078,2022-07-11,2,3,18,20,27,1,2,70,14,3,2,3,2022,78,7
1,22077,2022-07-09,5,10,11,16,19,1,10,61,12,11,6,2,2022,77,7
2,22076,2022-07-06,5,17,30,34,35,2,9,121,24,11,6,2,2022,76,7
3,22075,2022-07-04,4,12,13,17,18,7,9,64,13,16,8,3,2022,75,7
4,22074,2022-07-02,2,6,21,25,28,2,6,82,16,8,4,3,2022,74,7

In [5]:
# 蓝球-单个
print("## 蓝球-单个:")
df1 = df[:100]
df2 = df1.iloc[:,7:9]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
    #print(df2.loc[i])
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
dm = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<13:
        dd2.append(i)
    elif a>=13 and a<15:
        dd3.append(i)
    elif a>=15 and a<18:
        dd4.append(i)
    elif a>=18 and a<23:
        dd5.append(i)
    elif a>=23:
        dd6.append(i)
    a = 0

dm = dd2+dd6    
print('#### 各组球数分别为：', len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<13:           ', dd2)
print('-'*80)
print('#### a>=13 and a<15: ', dd3)
print('-'*80)
print('#### a>=15 and a<18: ', dd4)
print('-'*80)
print('#### a>=18 and a<23: ', dd5)
print('-'*80)
print('#### a>23:           ',  dd6)
print('-'*80)


dxa = []
for i in dm:
    dxa.append(i[0])
dxb = np.sort(dxa)
print("### 100期选取区间a<13ora>=23:", len(dxb), '个，', dxb)
print('='*100)


# 篮球-单个
df1 = df[:25]
df2 = df1.iloc[:,7:9]
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<2:
        dd2.append(i)
    elif a>=2 and a<3:
        dd3.append(i)
    elif a>=3 and a<6:
        dd4.append(i)
    elif a>=6 and a<13:
        dd5.append(i)
    elif a>=13:
        dd6.append(i)
    if a>=13:
        dm.append(i)         
    a = 0
    
print('#### 各组球数分别为：', len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a=1:          ', dd2)
print('-'*80)
print('#### a=2:          ', dd3)
print('-'*80)
print('#### a=3~5:        ', dd4)
print('-'*80)
print('#### a=6~13:        ', dd5)
print('-'*80)
print('#### a>=13:        ', dd6)
print('-'*80)

dd7 = dd4+dd3
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print("### 25期热度区间a=2~5: ", len(dd7b), '个，',dd7b)
print('='*100)


# 找出100期出击最多区间dmax与25期热度区间dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print('#### 找出100期选取区间a<13ora>=23与25期热度区间a=2~5的交集dm: ', len(dm), '个，', dm)
 
df2h = df1.iloc[:,7:9]

dela1 = []
q1 =3
for i in range(q1):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela1.append(ii)
print('#### dm列表中近',q1,'期中出现过的蓝球:', dela1) 

dmc = []
for i in dm:
    if i in dela1:
        pass
    else:
        dmc.append(i)

print('### 篮球列表中推荐蓝球:', len(dmc), '个，', dmc)

## 蓝球-单个:
#### 各组球数分别为： 2 2 3 4 1
#### a<13:            [(2,), (3,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15:  [(8,), (4,)]
--------------------------------------------------------------------------------
#### a>=15 and a<18:  [(10,), (11,), (12,)]
--------------------------------------------------------------------------------
#### a>=18 and a<23:  [(1,), (5,), (6,), (7,)]
--------------------------------------------------------------------------------
#### a>23:            [(9,)]
--------------------------------------------------------------------------------
### 100期选取区间a<13ora>=23: 3 个， [2 3 9]
====================================================================================================
#### 各组球数分别为： 2 0 8 2 0
#### a=1:           [(5,), (12,)]
--------------------------------------------------------------------------------
#### a=2:           []
--------------------------------------------------------------------------------
#### a=3~5:         [(1,), (2,), (8,), (3,), (4,), (10,), (11,), (6,)]
--------------------------------------------------------------------------------
#### a=6~13:         [(9,), (7,)]
--------------------------------------------------------------------------------
#### a>=13:         []
--------------------------------------------------------------------------------
### 25期热度区间a=2~5:  8 个， [1, 2, 3, 4, 6, 8, 10, 11]
====================================================================================================
#### 找出100期选取区间a<13ora>=23与25期热度区间a=2~5的交集dm:  2 个， [2, 3]
#### dm列表中近 3 期中出现过的蓝球: [2, 2]
### 篮球列表中推荐蓝球: 1 个， [3]

In [6]:
# 红球-单个，A组：
print("## 红球-单个，A组：")
df1 = df[:100]
df2 = df1.iloc[:,2:7]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<10:
        dd2.append(i)
    elif a>=10 and a<13:
        dd3.append(i)
    elif a>=13 and a<15:
        dd4.append(i)
    elif a>=15 and a<17:
        dd5.append(i)
    elif a>=17:
        dd6.append(i)       
    a = 0

dmax = dd2+dd6 
print('#### 各组球数分别为：',len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<10:          ', dd2)
print('-'*80)
print('#### a>=10 and a<13:', dd3)
print('-'*80)
print('#### a>=13 and a<15:', dd4)
print('-'*80)
print('#### a>=15 and a<17:', dd5)
print('-'*80)
print('#### a>=17:', dd6)
print('-'*80)


dxa = []        
for i in dmax:
    dxa.append(i[0])
dxb = list(np.sort(dxa))
print("### dmax a<10 or a>=17: ", len(dxb), '个，',dxb)
print('='*100)

# 红球-单个
df1 = df[:25]
df2 = df1.iloc[:,2:7] 
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<3:
        dd2.append(i)
    elif a==3:
        dd3.append(i)
    elif a==4:
        dd4.append(i)
    elif a==5:
        dd5.append(i)
    elif a>=6:
        dd6.append(i)       
    a = 0
print('#### 各组球数分别为：',len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<3:', dd2)
print('-'*80)
print('#### a=3:', dd3)
print('-'*80)
print('#### a=4:', dd4)
print('-'*80)
print('#### a=5:', dd5)
print('-'*80)
print('#### a>6:', dd6)
print('-'*80)

dd7 = dd4+dd5+dd6
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print("#### 热度区间 a>=4: ", len(dd7b), dd7b)
print('='*100)

# 找出100期出击最多区间dmax与25期热度区间dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print("#### 找出100期选取区间dmax与25期热度区间的交集：", len(dm), '个，', dm)

df2h = df1.iloc[:,2:7]

dela2 = []
q2 =7
for i in range(q2):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela2.append(ii)

            
print('#### dm列表中近', q2, '期中出现过的红球:',len(set(dela2)), '个', set(dela2)) 

dma = []
for i in dm:
    if i in dela2:
        pass
    else:        
        dma.append(i)

print('### 红球A组列表中余下的推荐红球:',  len(set(dma)), '个，',set(dma))
print('### 红球A组列表中推荐近{}期热度红球: {}'.format(q2, len(set(dela2))), '个', set(dela2))

## 红球-单个，A组：
#### 各组球数分别为： 1 11 8 6 9
#### a<10:           [(27,)]
--------------------------------------------------------------------------------
#### a>=10 and a<13: [(21,), (32,), (23,), (13,), (24,), (15,), (26,), (22,), (33,), (14,), (6,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15: [(9,), (28,), (3,), (30,), (20,), (8,), (29,), (31,)]
--------------------------------------------------------------------------------
#### a>=15 and a<17: [(34,), (5,), (7,), (10,), (12,), (4,)]
--------------------------------------------------------------------------------
#### a>=17: [(11,), (1,), (16,), (18,), (35,), (25,), (2,), (17,), (19,)]
--------------------------------------------------------------------------------
### dmax a<10 or a>=17:  10 个， [1, 2, 11, 16, 17, 18, 19, 25, 27, 35]
====================================================================================================
#### 各组球数分别为： 8 8 7 8 3
#### a<3: [(24,), (16,), (7,), (20,), (33,), (14,), (27,), (29,)]
--------------------------------------------------------------------------------
#### a=3: [(32,), (9,), (13,), (26,), (1,), (28,), (30,), (31,)]
--------------------------------------------------------------------------------
#### a=4: [(21,), (34,), (22,), (10,), (4,), (17,), (19,)]
--------------------------------------------------------------------------------
#### a=5: [(23,), (11,), (3,), (5,), (18,), (12,), (25,), (6,)]
--------------------------------------------------------------------------------
#### a>6: [(15,), (35,), (2,)]
--------------------------------------------------------------------------------
#### 热度区间 a>=4:  18 [2, 3, 4, 5, 6, 10, 11, 12, 15, 17, 18, 19, 21, 22, 23, 25, 34, 35]
====================================================================================================
#### 找出100期选取区间dmax与25期热度区间的交集： 7 个， [2, 11, 17, 18, 19, 25, 35]
#### dm列表中近 7 期中出现过的红球: 7 个 {2, 35, 11, 17, 18, 19, 25}
### 红球A组列表中余下的推荐红球: 0 个， set()
### 红球A组列表中推荐近7期热度红球: 7 个 {2, 35, 11, 17, 18, 19, 25}

In [7]:
# 红球-单个,B组：
print("## 红球-单个，B组：")
df1 = df[:100]
df2 = df1.iloc[:,2:7]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<10:
        dd2.append(i)
    elif a>=10 and a<13:
        dd3.append(i)
    elif a>=13 and a<15:
        dd4.append(i)
    elif a>=15 and a<17:
        dd5.append(i)
    elif a>=17:
        dd6.append(i)       
    a = 0

dmax = dd2+dd6 
print('#### 各组球数分别为：', len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<10:          ', dd2)
print('-'*80)
print('#### a>=10 and a<13:', dd3)
print('-'*80)
print('#### a>=13 and a<15:', dd4)
print('-'*80)
print('#### a>=15 and a<17:', dd5)
print('-'*80)
print('#### a>=17:', dd6)
print('-'*80)


dxa = []        
for i in dmax:
    dxa.append(i[0])
dxb = list(np.sort(dxa))
# print("### dmax a>=17: ", len(dxb), dxb)
print("### dmax a<10 or a>=17: ", len(dxb), '个，',dxb)
print('='*100)

# 红球-单个
df1 = df[:25]
df2 = df1.iloc[:,2:7] 
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<3:
        dd2.append(i)
    elif a==3:
        dd3.append(i)
    elif a==4:
        dd4.append(i)
    elif a==5:
        dd5.append(i)
    elif a>=6:
        dd6.append(i)       
    a = 0
print('#### 各组球数分别为：',len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<3:', dd2)
print('-'*80)
print('#### a=3:', dd3)
print('-'*80)
print('#### a=4:', dd4)
print('-'*80)
print('#### a=5:', dd5)
print('-'*80)
print('#### a>6:', dd6)
print('-'*80)

dd7 = dd3+dd4
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print("### 热度区间 a=3 and a=4: ", len(dd7b), dd7b)
print('='*100)

# 找出dxb=dmax与dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print("#### 找出100期选取区间dmax与25期热度区间的交集dm：", len(dm), '个，', dm)

df2h = df1.iloc[:,2:7]

dela3 = []
dela3a = []
q3 =7
q3a = 3
dma = []
for i in range(q3):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela3.append(ii)
            
print('#### dm列表中近',q3,'期中出现过的红球:', set(dela3)) 

dma = []
for i in range(q3a):
    for ii in dela3:
        if ii in list(df2h.loc[i]):
            dma.append(ii)


print('#### dm列表中近{}期出过红球组中，近{}期也出的红球{}:'.format(q3, q3a, set(dma)) )

dmb = []
for i in dela3:
    if i in dma:
        pass
    else:
        dmb.append(i)

print('### dm列表中近{}期出过红球组中，近{}期没有出的红球{}:'.format(q3, q3a, set(dmb)))

## 红球-单个，B组：
#### 各组球数分别为： 1 11 8 6 9
#### a<10:           [(27,)]
--------------------------------------------------------------------------------
#### a>=10 and a<13: [(21,), (32,), (23,), (13,), (24,), (15,), (26,), (22,), (33,), (14,), (6,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15: [(9,), (28,), (3,), (30,), (20,), (8,), (29,), (31,)]
--------------------------------------------------------------------------------
#### a>=15 and a<17: [(34,), (5,), (7,), (10,), (12,), (4,)]
--------------------------------------------------------------------------------
#### a>=17: [(11,), (1,), (16,), (18,), (35,), (25,), (2,), (17,), (19,)]
--------------------------------------------------------------------------------
### dmax a<10 or a>=17:  10 个， [1, 2, 11, 16, 17, 18, 19, 25, 27, 35]
====================================================================================================
#### 各组球数分别为： 8 8 7 8 3
#### a<3: [(24,), (16,), (7,), (20,), (33,), (14,), (27,), (29,)]
--------------------------------------------------------------------------------
#### a=3: [(32,), (9,), (13,), (26,), (1,), (28,), (30,), (31,)]
--------------------------------------------------------------------------------
#### a=4: [(21,), (34,), (22,), (10,), (4,), (17,), (19,)]
--------------------------------------------------------------------------------
#### a=5: [(23,), (11,), (3,), (5,), (18,), (12,), (25,), (6,)]
--------------------------------------------------------------------------------
#### a>6: [(15,), (35,), (2,)]
--------------------------------------------------------------------------------
### 热度区间 a=3 and a=4:  15 [1, 4, 9, 10, 13, 17, 19, 21, 22, 26, 28, 30, 31, 32, 34]
====================================================================================================
#### 找出100期选取区间dmax与25期热度区间的交集dm： 3 个， [1, 17, 19]
#### dm列表中近 7 期中出现过的红球: {17, 19, 1}
#### dm列表中近7期出过红球组中，近3期也出的红球{17, 19}:
### dm列表中近7期出过红球组中，近3期没有出的红球{1}:

#### 找出100期选取区间dmax与25期热度区间的交集dm： 6 个， [8, 15, 18, 24, 25, 29]
#### dm列表中近 7 期中出现过的红球: {24, 25, 18, 29}
#### dm列表中近7期出过红球组中，近3期也出的红球{25, 18, 29}:
### dm列表中近7期出过红球组中，近3期没有出的红球{24}:

#### 找出100期选取区间dmax与25期热度区间的交集： 8 个， [1, 2, 7, 11, 16, 17, 19, 29]
#### dm列表中近 7 期中出现过的红球: 6 个 {1, 2, 16, 17, 19, 29}
### 红球A组列表中余下的推荐红球: 2 个， {11, 7}
### 红球A组列表中推荐近7期热度红球: 6 个 {1, 2, 16, 17, 19, 29}

In [8]:
df2h.head(7)

   H1  H2  H3  H4  H5
0   2   3  18  20  27
1   5  10  11  16  19
2   5  17  30  34  35
3   4  12  13  17  18
4   2   6  21  25  28
5  11  18  21  25  32
6   1  12  13  15  30

dm列表中近7期出过红球组中，近3期也出的红球{25, 18, 29} + 
红球A组列表中余下的推荐红球: 2 个， {11, 7}

# ======================================================

## 画图

In [9]:
# # 导入需要的函数
# from bokeh.plotting import figure, output_notebook, show
# import seaborn as sns
# from matplotlib import pyplot as plt

In [10]:
# # 循环遍历ce中各球画出每13期移动出击次数线
# for i in range(len(ce)):
#     # 计算x/y的数据
#     y = df2b[df2b.球号==ce[i]].次数
#     x = df2b[df2b.球号==ce[i]].期号
#     # 创建画布 p，设置 x_axis_type='datetime'
#     plt.figure(figsize=(20,6),dpi=600)
#     plt.figure()
#     print(str(ce[i])+'号球每13期移动出击次数线')
#     plt.plot(x, y)
#     plt.title=str(ce[i])+'号球每13期移动出击次数线'
#     plt.show()

In [11]:
df.head(8)

,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,22078,2022-07-11,2,3,18,20,27,1,2,70,14,3,2,3,2022,78,7
1,22077,2022-07-09,5,10,11,16,19,1,10,61,12,11,6,2,2022,77,7
2,22076,2022-07-06,5,17,30,34,35,2,9,121,24,11,6,2,2022,76,7
3,22075,2022-07-04,4,12,13,17,18,7,9,64,13,16,8,3,2022,75,7
4,22074,2022-07-02,2,6,21,25,28,2,6,82,16,8,4,3,2022,74,7
5,22073,2022-06-29,11,18,21,25,32,2,4,107,21,6,3,2,2022,73,6
6,22072,2022-06-27,1,12,13,15,30,3,7,71,14,10,5,2,2022,72,6
7,22071,2022-06-25,9,15,19,25,29,8,9,97,19,17,9,0,2022,71,6

In [12]:
# 取当前日期和时间
date1 = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
date1

'2022-07-12 17:52:15'

In [13]:
print(date, ":")

2022-07-12 17:52:14 :

## 2022-05-16推荐：
### 胆：3,13,27,35
### 拖：全包
### 后区：4,7

### 7,11,18,25,29 + 4,7

In [14]:
df.head(8)

,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,22078,2022-07-11,2,3,18,20,27,1,2,70,14,3,2,3,2022,78,7
1,22077,2022-07-09,5,10,11,16,19,1,10,61,12,11,6,2,2022,77,7
2,22076,2022-07-06,5,17,30,34,35,2,9,121,24,11,6,2,2022,76,7
3,22075,2022-07-04,4,12,13,17,18,7,9,64,13,16,8,3,2022,75,7
4,22074,2022-07-02,2,6,21,25,28,2,6,82,16,8,4,3,2022,74,7
5,22073,2022-06-29,11,18,21,25,32,2,4,107,21,6,3,2,2022,73,6
6,22072,2022-06-27,1,12,13,15,30,3,7,71,14,10,5,2,2022,72,6
7,22071,2022-06-25,9,15,19,25,29,8,9,97,19,17,9,0,2022,71,6

In [15]:
print('所用时间：', int(date1[-2:])-int(date[-2:]))

所用时间： 1

In [16]:
comb(7,5)

21.0