## 大乐透_移动100期出击次数统计2022-04-23

In [1]:
# 取当前日期和时间
import time
date = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
print(date)

2022-05-01 02:24:53

In [2]:
# 导入模块
import pandas as pd
import numpy as np

In [3]:
# 导入排列组合计算函数
#调用scipy科学计算包中计算排列组合（permutation and combination）的模块
from scipy.special import perm, comb
#调用 itertools库（内置库） 获取排列组合的全部情况数
from itertools import permutations, combinations

In [4]:
path = '大乐透总历史开奖号码表.xlsx'
df = pd.read_excel(path)
print(df.shape)
df.head()

(3998, 17)

,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,22047,2022-04-30,7,10,11,12,33,3,11,73,15,14,7,2,2022,47,4
1,22046,2022-04-27,6,7,12,22,27,3,5,74,15,8,4,3,2022,46,4
2,22045,2022-04-25,2,3,7,12,20,1,5,44,9,6,3,3,2022,45,4
3,22044,2022-04-23,1,2,16,17,20,3,7,56,11,10,5,3,2022,44,4
4,22043,2022-04-20,2,16,17,24,30,9,12,89,18,21,11,4,2022,43,4

In [5]:
# 蓝球-单个
print("## 蓝球-单个:")
df1 = df[:100]
df2 = df1.iloc[:,7:9]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
    #print(df2.loc[i])
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
dm = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<13:
        dd2.append(i)
    elif a>=13 and a<15:
        dd3.append(i)
    elif a>=15 and a<18:
        dd4.append(i)
    elif a>=18 and a<23:
        dd5.append(i)
    elif a>=23:
        dd6.append(i)
    a = 0

dm = dd2+dd6    
print('#### 各组球数分别为：', len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<13:           ', dd2)
print('-'*80)
print('#### a>=13 and a<15: ', dd3)
print('-'*80)
print('#### a>=15 and a<18: ', dd4)
print('-'*80)
print('#### a>=18 and a<23: ', dd5)
print('-'*80)
print('#### a>23:           ',  dd6)
print('-'*80)


dxa = []
for i in dm:
    dxa.append(i[0])
dxb = np.sort(dxa)
print("### 100期选取区间a<13ora>=23:", len(dxb), '个，', dxb)
print('='*100)


# 篮球-单个
df1 = df[:25]
df2 = df1.iloc[:,7:9]
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<2:
        dd2.append(i)
    elif a>=2 and a<3:
        dd3.append(i)
    elif a>=3 and a<6:
        dd4.append(i)
    elif a>=6 and a<13:
        dd5.append(i)
    elif a>=13:
        dd6.append(i)
    if a>=13:
        dm.append(i)         
    a = 0
    
print('#### 各组球数分别为：', len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a=1:          ', dd2)
print('-'*80)
print('#### a=2:          ', dd3)
print('-'*80)
print('#### a=3~5:        ', dd4)
print('-'*80)
print('#### a=6~13:        ', dd5)
print('-'*80)
print('#### a>=13:        ', dd6)
print('-'*80)

dd7 = dd4+dd3
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print("### 25期热度区间a=2~5: ", len(dd7b), '个，',dd7b)
print('='*100)


# 找出100期出击最多区间dmax与25期热度区间dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print('#### 找出100期选取区间a<13ora>=23与25期热度区间a=2~5的交集dm: ', len(dm), '个，', dm)
 
df2h = df1.iloc[:,7:9]

dela1 = []
q1 =3
for i in range(q1):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela1.append(ii)
print('#### dm列表中近',q1,'期中出现过的蓝球:', dela1) 
dmc = []
for i in dm:
    if i not in dela1:
        dmc.append(i)

print('### 篮球列表中推荐蓝球:', len(dmc), '个，', dmc)

## 蓝球-单个:
#### 各组球数分别为： 2 4 1 2 3
#### a<13:            [(3,), (10,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15:  [(1,), (2,), (8,), (4,)]
--------------------------------------------------------------------------------
#### a>=15 and a<18:  [(7,)]
--------------------------------------------------------------------------------
#### a>=18 and a<23:  [(6,), (12,)]
--------------------------------------------------------------------------------
#### a>23:            [(9,), (5,), (11,)]
--------------------------------------------------------------------------------
### 100期选取区间a<13ora>=23: 5 个， [ 3  5  9 10 11]
====================================================================================================
#### 各组球数分别为： 1 1 7 3 0
#### a=1:           [(2,)]
--------------------------------------------------------------------------------
#### a=2:           [(4,)]
--------------------------------------------------------------------------------
#### a=3~5:         [(8,), (3,), (9,), (10,), (11,), (6,), (7,)]
--------------------------------------------------------------------------------
#### a=6~13:         [(1,), (5,), (12,)]
--------------------------------------------------------------------------------
#### a>=13:         []
--------------------------------------------------------------------------------
### 25期热度区间a=2~5:  8 个， [3, 4, 6, 7, 8, 9, 10, 11]
====================================================================================================
#### 找出100期选取区间a<13ora>=23与25期热度区间a=2~5的交集dm:  4 个， [3, 9, 10, 11]
#### dm列表中近 3 期中出现过的蓝球: [3, 11, 3]
### 篮球列表中推荐蓝球: 2 个， [9, 10]

In [6]:
# 红球-单个，A组：
print("## 红球-单个，A组：")
df1 = df[:100]
df2 = df1.iloc[:,2:7]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<10:
        dd2.append(i)
    elif a>=10 and a<13:
        dd3.append(i)
    elif a>=13 and a<15:
        dd4.append(i)
    elif a>=15 and a<17:
        dd5.append(i)
    elif a>=17:
        dd6.append(i)       
    a = 0

dmax = dd2+dd6 
print('#### 各组球数分别为：',len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<10:          ', dd2)
print('-'*80)
print('#### a>=10 and a<13:', dd3)
print('-'*80)
print('#### a>=13 and a<15:', dd4)
print('-'*80)
print('#### a>=15 and a<17:', dd5)
print('-'*80)
print('#### a>=17:', dd6)
print('-'*80)


dxa = []        
for i in dmax:
    dxa.append(i[0])
dxb = list(np.sort(dxa))
print("### dmax a<10 or a>=17: ", len(dxb), '个，',dxb)
print('='*100)

# 红球-单个
df1 = df[:25]
df2 = df1.iloc[:,2:7] 
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<3:
        dd2.append(i)
    elif a==3:
        dd3.append(i)
    elif a==4:
        dd4.append(i)
    elif a==5:
        dd5.append(i)
    elif a>=6:
        dd6.append(i)       
    a = 0
print('#### 各组球数分别为：',len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<3:', dd2)
print('-'*80)
print('#### a=3:', dd3)
print('-'*80)
print('#### a=4:', dd4)
print('-'*80)
print('#### a=5:', dd5)
print('-'*80)
print('#### a>6:', dd6)
print('-'*80)

dd7 = dd4+dd5+dd6
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print("#### 热度区间 a>=4: ", len(dd7b), dd7b)
print('='*100)

# 找出100期出击最多区间dmax与25期热度区间dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print("#### 找出100期选取区间dmax与25期热度区间的交集：", len(dm), '个，', dm)

df2h = df1.iloc[:,2:7]

dela2 = []
q2 =7
for i in range(q2):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela2.append(ii)
print('#### dm列表中近', q2, '期中出现过的红球:', dela2, '=>', set(dela2)) 
dma = []
for i in dm:
    if i not in dela2:
        dma.append(i)

print('### 红球A组列表中余下的推荐红球:',  len(dma), '个，',dma)
print('### 红球A组列表中推荐近{}期热度红球: {}'.format(q2, set(dela2)))

## 红球-单个，A组：
#### 各组球数分别为： 2 9 5 10 9
#### a<10:           [(24,), (6,)]
--------------------------------------------------------------------------------
#### a>=10 and a<13: [(21,), (32,), (9,), (13,), (15,), (3,), (20,), (22,), (12,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15: [(23,), (5,), (33,), (35,), (10,)]
--------------------------------------------------------------------------------
#### a>=15 and a<17: [(34,), (26,), (1,), (28,), (30,), (16,), (14,), (27,), (4,), (31,)]
--------------------------------------------------------------------------------
#### a>=17: [(11,), (7,), (18,), (8,), (25,), (2,), (29,), (17,), (19,)]
--------------------------------------------------------------------------------
### dmax a<10 or a>=17:  11 个， [2, 6, 7, 8, 11, 17, 18, 19, 24, 25, 29]
====================================================================================================
#### 各组球数分别为： 7 13 6 7 2
#### a<3: [(21,), (23,), (34,), (13,), (3,), (35,), (6,)]
--------------------------------------------------------------------------------
#### a=3: [(32,), (24,), (15,), (26,), (28,), (30,), (5,), (18,), (25,), (27,), (29,), (4,), (19,)]
--------------------------------------------------------------------------------
#### a=4: [(1,), (22,), (33,), (8,), (14,), (31,)]
--------------------------------------------------------------------------------
#### a=5: [(9,), (16,), (20,), (10,), (12,), (2,), (17,)]
--------------------------------------------------------------------------------
#### a>6: [(11,), (7,)]
--------------------------------------------------------------------------------
#### 热度区间 a>=4:  15 [1, 2, 7, 8, 9, 10, 11, 12, 14, 16, 17, 20, 22, 31, 33]
====================================================================================================
#### 找出100期选取区间dmax与25期热度区间的交集： 5 个， [2, 7, 8, 11, 17]
#### dm列表中近 7 期中出现过的红球: [7, 11, 7, 2, 7, 2, 17, 2, 17, 8, 11] => {2, 7, 8, 11, 17}
### 红球A组列表中余下的推荐红球: 0 个， []
### 红球A组列表中推荐近7期热度红球: {2, 7, 8, 11, 17}

In [7]:
# 红球-单个,B组：
print("## 红球-单个，B组：")
df1 = df[:100]
df2 = df1.iloc[:,2:7]
dd = []
for i in range(100):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<10:
        dd2.append(i)
    elif a>=10 and a<13:
        dd3.append(i)
    elif a>=13 and a<15:
        dd4.append(i)
    elif a>=15 and a<17:
        dd5.append(i)
    elif a>=17:
        dd6.append(i)       
    a = 0

dmax = dd2+dd6 
print('#### 各组球数分别为：', len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<10:          ', dd2)
print('-'*80)
print('#### a>=10 and a<13:', dd3)
print('-'*80)
print('#### a>=13 and a<15:', dd4)
print('-'*80)
print('#### a>=15 and a<17:', dd5)
print('-'*80)
print('#### a>=17:', dd6)
print('-'*80)


dxa = []        
for i in dmax:
    dxa.append(i[0])
dxb = list(np.sort(dxa))
# print("### dmax a>=17: ", len(dxb), dxb)
print("### dmax a<10 or a>=17: ", len(dxb), '个，',dxb)
print('='*100)

# 红球-单个
df1 = df[:25]
df2 = df1.iloc[:,2:7] 
dd = []
for i in range(25):
    dd = dd+list(combinations(list(df2.loc[i]),1))
dd1 = set(dd)

dd2 = []
dd3 = []
dd4 = []
dd5 = []
dd6 = []
a = 0
for i in dd1:
    for ii in dd:
        if i==ii:
            a = a+1
    if a>=1 and a<3:
        dd2.append(i)
    elif a==3:
        dd3.append(i)
    elif a==4:
        dd4.append(i)
    elif a==5:
        dd5.append(i)
    elif a>=6:
        dd6.append(i)       
    a = 0
print('#### 各组球数分别为：',len(dd2),len(dd3),len(dd4),len(dd5),len(dd6))
print('#### a<3:', dd2)
print('-'*80)
print('#### a=3:', dd3)
print('-'*80)
print('#### a=4:', dd4)
print('-'*80)
print('#### a=5:', dd5)
print('-'*80)
print('#### a>6:', dd6)
print('-'*80)

dd7 = dd3+dd4
dd7a = []
for i in dd7:
    dd7a.append(i[0])
dd7b = list(np.sort(dd7a))
print("### 热度区间 a=3 and a=4: ", len(dd7b), dd7b)
print('='*100)

# 找出dxb=dmax与dd7b的交集dm
dm = []
for i in dd7b:
    if i in dxb:
        dm.append(i)
print("#### 找出100期选取区间dmax与25期热度区间的交集dm：", len(dm), '个，', dm)

df2h = df1.iloc[:,2:7]

dela3 = []
dela3a = []
q3 =7
q3a = 4
dma = []
for i in range(q3):
    for ii in dm:
        if ii in list(df2h.loc[i]):
            dela3.append(ii)
print('#### dm列表中近',q3,'期中出现过的红球dma:', dela3) 
dma = set(dela3)

for i in range(q3a):
    for ii in dma:
        if ii not in list(df2h.loc[i]):
            dela3a.append(ii)

print('#### dm列表中近{}期出过红球dma组中，推荐近{}期未出的红球{}:'.format(q3, q3a, set(dela3a)) )

dmb = []
for i in dm:
    if i not in dela3:
        dmb.append(i)

print('### 红球B组列表中余下推荐红球:', len(dmb), '个，', dmb)

## 红球-单个，B组：
#### 各组球数分别为： 2 9 5 10 9
#### a<10:           [(24,), (6,)]
--------------------------------------------------------------------------------
#### a>=10 and a<13: [(21,), (32,), (9,), (13,), (15,), (3,), (20,), (22,), (12,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15: [(23,), (5,), (33,), (35,), (10,)]
--------------------------------------------------------------------------------
#### a>=15 and a<17: [(34,), (26,), (1,), (28,), (30,), (16,), (14,), (27,), (4,), (31,)]
--------------------------------------------------------------------------------
#### a>=17: [(11,), (7,), (18,), (8,), (25,), (2,), (29,), (17,), (19,)]
--------------------------------------------------------------------------------
### dmax a<10 or a>=17:  11 个， [2, 6, 7, 8, 11, 17, 18, 19, 24, 25, 29]
====================================================================================================
#### 各组球数分别为： 7 13 6 7 2
#### a<3: [(21,), (23,), (34,), (13,), (3,), (35,), (6,)]
--------------------------------------------------------------------------------
#### a=3: [(32,), (24,), (15,), (26,), (28,), (30,), (5,), (18,), (25,), (27,), (29,), (4,), (19,)]
--------------------------------------------------------------------------------
#### a=4: [(1,), (22,), (33,), (8,), (14,), (31,)]
--------------------------------------------------------------------------------
#### a=5: [(9,), (16,), (20,), (10,), (12,), (2,), (17,)]
--------------------------------------------------------------------------------
#### a>6: [(11,), (7,)]
--------------------------------------------------------------------------------
### 热度区间 a=3 and a=4:  19 [1, 4, 5, 8, 14, 15, 18, 19, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]
====================================================================================================
#### 找出100期选取区间dmax与25期热度区间的交集dm： 6 个， [8, 18, 19, 24, 25, 29]
#### dm列表中近 7 期中出现过的红球dma: [24, 8, 29, 25]
#### dm列表中近7期出过红球dma组中，推荐近4期未出的红球{24, 8, 29, 25}:
### 红球B组列表中余下推荐红球: 2 个， [18, 19]

In [8]:
df2h.head(7)

   H1  H2  H3  H4  H5
0   7  10  11  12  33
1   6   7  12  22  27
2   2   3   7  12  20
3   1   2  16  17  20
4   2  16  17  24  30
5   8  10  11  29  32
6   5  15  25  26  33

# ======================================================

## 画图

In [9]:
# # 导入需要的函数
# from bokeh.plotting import figure, output_notebook, show
# import seaborn as sns
# from matplotlib import pyplot as plt

In [10]:
# # 循环遍历ce中各球画出每13期移动出击次数线
# for i in range(len(ce)):
#     # 计算x/y的数据
#     y = df2b[df2b.球号==ce[i]].次数
#     x = df2b[df2b.球号==ce[i]].期号
#     # 创建画布 p，设置 x_axis_type='datetime'
#     plt.figure(figsize=(20,6),dpi=600)
#     plt.figure()
#     print(str(ce[i])+'号球每13期移动出击次数线')
#     plt.plot(x, y)
#     plt.title=str(ce[i])+'号球每13期移动出击次数线'
#     plt.show()

In [11]:
df.head(8)

,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,22047,2022-04-30,7,10,11,12,33,3,11,73,15,14,7,2,2022,47,4
1,22046,2022-04-27,6,7,12,22,27,3,5,74,15,8,4,3,2022,46,4
2,22045,2022-04-25,2,3,7,12,20,1,5,44,9,6,3,3,2022,45,4
3,22044,2022-04-23,1,2,16,17,20,3,7,56,11,10,5,3,2022,44,4
4,22043,2022-04-20,2,16,17,24,30,9,12,89,18,21,11,4,2022,43,4
5,22042,2022-04-18,8,10,11,29,32,2,6,90,18,8,4,3,2022,42,4
6,22041,2022-04-16,5,15,25,26,33,6,11,104,21,17,9,1,2022,41,4
7,22040,2022-04-13,10,19,25,29,33,8,12,116,23,20,10,1,2022,40,4

In [12]:
# 取当前日期和时间
date1 = (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
date1

'2022-05-01 02:24:54'

## 红球-单个，A组：
#### 各组球数分别为： 4 6 7 9 9
#### a<10:           [(24,), (22,), (12,), (6,)]
--------------------------------------------------------------------------------
#### a>=10 and a<13: [(21,), (32,), (9,), (13,), (15,), (3,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15: [(23,), (5,), (20,), (33,), (35,), (10,), (27,)]
--------------------------------------------------------------------------------
#### a>=15 and a<17: [(34,), (26,), (1,), (28,), (30,), (16,), (14,), (4,), (31,)]
--------------------------------------------------------------------------------
#### a>=17: [(11,), (7,), (18,), (8,), (25,), (2,), (29,), (17,), (19,)]
--------------------------------------------------------------------------------
### dmax a>=17:  9 个， [2, 7, 8, 11, 17, 18, 19, 25, 29]
====================================================================================================
#### 各组球数分别为： 7 12 7 6 3
#### a<3: [(21,), (23,), (34,), (13,), (3,), (27,), (6,)]
--------------------------------------------------------------------------------
#### a=3: [(32,), (24,), (26,), (30,), (22,), (33,), (35,), (12,), (25,), (29,), (4,), (19,)]
--------------------------------------------------------------------------------
#### a=4: [(15,), (28,), (5,), (18,), (8,), (10,), (31,)]
--------------------------------------------------------------------------------
#### a=5: [(9,), (1,), (7,), (20,), (14,), (2,)]
--------------------------------------------------------------------------------
#### a>6: [(11,), (16,), (17,)]
--------------------------------------------------------------------------------
#### 热度区间 a>=4:  16 [1, 2, 5, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 20, 28, 31]
====================================================================================================
#### 找出100期出击最多区间dmax与25期热度区间的交集： 6 个， [2, 7, 8, 11, 17, 18]
#### dm列表中近 4 期中出现过的红球: [2, 7, 2, 17, 2, 17, 8, 11]
### 红球A组列表中余下的推荐红球: 1 个， [18]

## 红球-单个，B组：
#### 各组球数分别为： 4 6 7 9 9
#### a<10:           [(24,), (22,), (12,), (6,)]
--------------------------------------------------------------------------------
#### a>=10 and a<13: [(21,), (32,), (9,), (13,), (15,), (3,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15: [(23,), (5,), (20,), (33,), (35,), (10,), (27,)]
--------------------------------------------------------------------------------
#### a>=15 and a<17: [(34,), (26,), (1,), (28,), (30,), (16,), (14,), (4,), (31,)]
--------------------------------------------------------------------------------
#### a>=17: [(11,), (7,), (18,), (8,), (25,), (2,), (29,), (17,), (19,)]
--------------------------------------------------------------------------------
### dmax a>=17:  9 [2, 7, 8, 11, 17, 18, 19, 25, 29]
====================================================================================================
#### 各组球数分别为： 7 12 7 6 3
#### a<3: [(21,), (23,), (34,), (13,), (3,), (27,), (6,)]
--------------------------------------------------------------------------------
#### a=3: [(32,), (24,), (26,), (30,), (22,), (33,), (35,), (12,), (25,), (29,), (4,), (19,)]
--------------------------------------------------------------------------------
#### a=4: [(15,), (28,), (5,), (18,), (8,), (10,), (31,)]
--------------------------------------------------------------------------------
#### a=5: [(9,), (1,), (7,), (20,), (14,), (2,)]
--------------------------------------------------------------------------------
#### a>6: [(11,), (16,), (17,)]
--------------------------------------------------------------------------------
### 热度区间 a=3 and a=4:  19 [4, 5, 8, 10, 12, 15, 18, 19, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 35]
====================================================================================================
#### 找出100期出击最多区间dmax与25期热度区间的交集： 5 个， [8, 18, 19, 25, 29]
#### dm列表中近 3 期中出现过的红球: []
### 红球B组列表中余下推荐红球: 5 个， [8, 18, 19, 25, 29]

## 蓝球-单个:
#### 各组球数分别为： 2 4 1 3 2
#### a<13:            [(3,), (10,)]
--------------------------------------------------------------------------------
#### a>=13 and a<15:  [(1,), (2,), (8,), (4,)]
--------------------------------------------------------------------------------
#### a>=15 and a<18:  [(7,)]
--------------------------------------------------------------------------------
#### a>=18 and a<23:  [(11,), (6,), (12,)]
--------------------------------------------------------------------------------
#### a>23:            [(9,), (5,)]
--------------------------------------------------------------------------------
### 100期出击最多区间a>=18: 5 个， [ 5  6  9 11 12]
====================================================================================================
#### 各组球数分别为： 1 2 5 4 0
#### a=1:           [(2,)]
--------------------------------------------------------------------------------
#### a=2:           [(3,), (4,)]
--------------------------------------------------------------------------------
#### a=3~5:         [(8,), (9,), (10,), (5,), (11,)]
--------------------------------------------------------------------------------
#### a=6~13:         [(1,), (6,), (12,), (7,)]
--------------------------------------------------------------------------------
#### a>=13:         []
--------------------------------------------------------------------------------
### 25期热度区间a=2~5:  7 个， [3, 4, 5, 8, 9, 10, 11]
====================================================================================================
#### 找出100期出击最多区间a>=18与 25期热度区间a=2~5的交集dm:  3 个， [5, 9, 11]
#### dm列表中近 4 期中出现过的蓝球: [5]
### dm列表中推荐蓝球: [9, 11]

In [16]:
print(date, ":")
print('#### 红球A组列表中余下的推荐红球:',  len(dma), '个，',dma)
print('### 红球A组列表中推荐近{}期热度红球: {}'.format(q2, set(dela2)))
print('#### 红球B组列表中余下推荐红球:', len(dmb), '个，', dmb)
print('### dm列表中近{}期出过红球dma组中，推荐近{}期未出的红球{}:'.format(q3, q3a, set(dela3a)) )
print('### 篮球列表中推荐蓝球:', len(dmc), '个，', dmc)

2022-05-01 02:24:53 :
#### 红球A组列表中余下的推荐红球: 4 个， {24, 8, 29, 25}
### 红球A组列表中推荐近7期热度红球: {2, 7, 8, 11, 17}
#### 红球B组列表中余下推荐红球: 2 个， [18, 19]
### dm列表中近7期出过红球dma组中，推荐近4期未出的红球{24, 8, 29, 25}:
### 篮球列表中推荐蓝球: 2 个， [9, 10]

### 红球A组列表中余下的推荐红球: 1 个， [18]
### 红球B组列表中余下推荐红球: 5 个， [8, 18, 19, 25, 29]
### 篮球列表中推荐蓝球: 2 个， [9, 11]

#### 红球A组列表中余下的推荐红球: 5 个， {8, 19, 24, 25, 29}
### 红球A组列表中推荐近7期热度红球: {2, 7, 8, 11, 17}
#### 红球B组列表中余下推荐红球: 1 个， [18]
### dm列表中近7期出过红球dma组中，推荐近4期未出的红球{8, 19, 24, 25, 29}:
### 篮球列表中推荐蓝球: 2 个， [9, 10]

2022-05-01 02:24:53 :
#### 红球A组列表中余下的推荐红球: 4 个， {24, 8, 29, 25}
### 红球A组列表中推荐近7期热度红球: {2, 7, 8, 11, 17}
#### 红球B组列表中余下推荐红球: 2 个， [18, 19]
### dm列表中近7期出过红球dma组中，推荐近4期未出的红球{24, 8, 29, 25}:
### 篮球列表中推荐蓝球: 2 个， [9, 10]

In [15]:
df.head(8)

,期号,日期,H1,H2,H3,H4,H5,L1,L2,红和值,红均值,蓝和值,蓝均值,红偶数个数,年份,年内期号,年内月号
0,22047,2022-04-30,7,10,11,12,33,3,11,73,15,14,7,2,2022,47,4
1,22046,2022-04-27,6,7,12,22,27,3,5,74,15,8,4,3,2022,46,4
2,22045,2022-04-25,2,3,7,12,20,1,5,44,9,6,3,3,2022,45,4
3,22044,2022-04-23,1,2,16,17,20,3,7,56,11,10,5,3,2022,44,4
4,22043,2022-04-20,2,16,17,24,30,9,12,89,18,21,11,4,2022,43,4
5,22042,2022-04-18,8,10,11,29,32,2,6,90,18,8,4,3,2022,42,4
6,22041,2022-04-16,5,15,25,26,33,6,11,104,21,17,9,1,2022,41,4
7,22040,2022-04-13,10,19,25,29,33,8,12,116,23,20,10,1,2022,40,4

In [14]:
print('所用时间：', int(date1[-2:])-int(date[-2:]))

所用时间： 1